<launch>
    <!-- launch rviz-->
    <arg name="rviz" default="true"/>
    <param name="robot_description" textfile="$(find UGazebo)/urdf/underwater.urdf" />

    <!--gazebo arguments-->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <!--launch an empty gazebo world-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="debug" value="$(arg debug)"/>
    </include>
    

    <!--spawn underwater urdf into gazebo-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-file $(find UGazebo)/urdf/underwater.urdf -urdf -z 1 -model UGazebo">
    </node>
   
    <node pkg="joy" type="joy_node" name="joy">
    </node>
    <node name="motor_effort_node" pkg="UGazebo" type="testwalk" respawn="true"  output="screen"/>
</launch>
