<?xml version="1.0" ?>
<robot name="surface" xmlns:xacro="http://ros.org/wiki/xacro">

    <material name="transparent">
        <color rgba="0 0.9 1 0.9"/>
    </material>

    <link name="ocean_base_link">
        <visual>
            <origin rpy="0 0 0" xyz="-10 -10 0"/>
            <geometry>
                <mesh filename="package://underwater_sim/models/meshes/ocean/ocean_hollow.STL" scale="0.001 0.001 -0.001"/>
            </geometry>
            <material name="transparent"/>
        </visual>
        <collision name="ocean_surface_link_collision">
            <origin rpy="0 0 0" xyz="-10 -10 0"/>
            <geometry>
                <mesh filename="package://underwater_sim/models/meshes/ocean/ocean_hollow.STL" scale="1 1 1"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="95.78"/>
            <inertia ixx="57.28" ixy="0.00" ixz="-0.23" iyy="57.28" iyz="0.00" izz="6.09"/>
        </inertial>
    </link>
    
    <link name="dummy_link"/>
    
    <joint name="dummy_joint" type="fixed">
        <origin xyz="0 0 0"/>
        <parent link="ocean_base_link"/>
        <child link="dummy_link"/>
    </joint>


</robot>

