<?xml version="1.0" ?>
<robot name="surface" xmlns:xacro="http://ros.org/wiki/xacro">

    
    <material name="transparent">
        <color rgba="1 1 1 0.5"/>
    </material>

    <link name="ocean_base_link">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://underwater_sim/models/meshes/ocean/ocean_layer.dae" scale="0.1 0.1 -10"/>
            </geometry>
            <material name="transparent"/>
        </visual>
        <collision name="ocean_surface_link_collision">
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://underwater_sim/models/meshes/ocean/ocean_layer.dae" scale="0.1 0.1 -10"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="95.78"/>
            <inertia ixx="57.28" ixy="0.00" ixz="-0.23" iyy="57.28" iyz="0.00" izz="6.09"/>
        </inertial>
    </link>
    
    <link name="dummy_link"/>
    
    <joint name="dummy_joint" type="fixed">
        <origin xyz="0 0 0"/>
        <parent link="ocean_base_link"/>
        <child link="dummy_link"/>
    </joint>

    <!--<gazebo reference="ocean_surface_link">
            <visual name='visual'>
        <material>
          <lighting>1</lighting>
          <script>
            <uri>file://media/materials/scripts/gazebo.material</uri>
            <name>Gazebo/Grey</name>
          </script>
          <ambient>0.3 0.3 0.3 0.4</ambient>
          <diffuse>0.7 0.7 0.7 0.4</diffuse>
          <specular>0.01 0.01 0.01 0.4</specular>
          <emissive>0 0 0 0.4</emissive>
          <shader type='vertex'>
            <normal_map>__default__</normal_map>
          </shader>
        </material>
        <cast_shadows>1</cast_shadows>
        <transparency>0.7</transparency>
        </visual>
    </gazebo>-->


</robot>

