<?xml version="1.0"?>
<launch>
    <arg name="visualize" default="True"/>

    <!--Set up the confiuration for experiment--> 
    <node pkg="underwater_robot" type="configs.py" name="set_configuration"/>  
    <!--arduino node -->
    <include file="$(find underwater_robot)/launch/arduino_nodes.launch"/>
    
    <!--joystick node -->
	<node pkg="joy" type="joy_node" name="joy">
	</node>
    <node pkg="underwater_robot" type="joystick_control" name="joystick_control"/>	

    <!-- visaulize -->
    <node pkg="underwater_robot" type="sensor_visualize.py" name="sensor_visualize" if="$(arg visualize)"/>
</launch>
