<?xml version="1.0"?>
<launch>
    <arg name="visualize" default="False"/>
    <arg name="rviz" default="False"/>
    <arg name="record" default="False"/>
    <arg name="cam" default="true"/>
    <arg name="bag_name" default="sensor"/>
    <arg name="video_name" default="video"/>
        
    <!-- set up the confiuration for experiment --> 
    <node pkg="underwater_robot" type="configs.py" name="set_configuration"/>  
    
    <!-- arduino node -->
    <include file="$(find underwater_robot)/launch/arduino_nodes.launch"/>
    
    <!-- position locator -->
    <node pkg="underwater_robot" type="position_localization.py" name="position_localization"/>

    <!-- joystick node -->
    <node pkg="joy" type="joy_node" name="joy"/>
    
    <!-- controller spawner -->
    <node pkg="underwater_robot" type="controller_spawner.py" name="controller_spawner"/>	

    <!-- visaulize sensor info -->
    <node pkg="underwater_robot" type="sensor_visualize.py" name="sensor_visualize" if="$(arg visualize)"/>

    <!-- rviz visualize robot state -->
    <include file="$(find underwater_sim)/launch/robot_rviz.launch" if="$(arg rviz)"/>
    
    <!-- record bag file -->
    <include file="$(find underwater_robot)/launch/sensor_record.launch" if="$(arg record)">
        <arg name="bag_name" value="$(arg bag_name)"/>
    </include>

    <include file="$(find underwater_robot)/launch/video_recorder.launch" if="$(arg cam)">
        <arg name="display" value="false"/>
        <arg name="record" value="$(arg record)"/>
        <arg name="video_name" value="$(arg video_name)"/>
    </include>

</launch>
