<?xml version="1.0"?>
<launch>
    <arg name="visualize" default="False"/>
    <arg name="rviz" default="False"/>
    <arg name="record" default="False"/>
    <arg name="cam" default="true"/>
    <arg name="video_record" default="false"/>
    <arg name="bag_name" default="sensor"/>
    <arg name="video_name" default="video"/>
        
    <!-- launch gazebo -->
    <include file="$(find underwater_gazebo)/launch/harbor_world.launch"/>

    <!-- joystick node -->
    <node pkg="joy" type="joy_node" name="joy"/>
    
    <!-- controller spawner -->
    <node pkg="underwater_robot" type="joystick_control" name="joystick_control"/>
    <!--<node pkg="underwater_robot" type="controller_spawner.py" name="controller_spawner"/>-->

    <!-- visaulize sensor info -->
    <node pkg="underwater_robot" type="sensor_visualize.py" name="sensor_visualize" if="$(arg visualize)"/>

    <!-- rviz visualize robot state -->
    <include file="$(find underwater_sim)/launch/robot_rviz.launch" if="$(arg rviz)"/>
    
    <!-- record bag file -->
    <include file="$(find underwater_robot)/launch/sensor_record.launch" if="$(arg record)">
        <arg name="bag_name" value="$(arg bag_name)"/>
    </include>

</launch>
