<launch>
    <!--gazebo arguments-->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <!--launch an empty gazebo world-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="debug" value="$(arg debug)"/>
    </include>
    
    <!--spawn underwater urdf into gazebo-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" 
        respawn="false" output="screen" args="-file $(find underwater_sim)/urdf/ros_ship.urdf -urdf -z 0 -model ship"/>
    
</launch>
