<?xml version="1.0"?>
  <model>
    <name>Underwater/name>
    <version>1.0</version>
    <sdf>urdf/underwater.urdf</sdf>
    <author>
      <name>Wei Lun William Chen</name>
      <email>weilunwc@andrew.cmu.edu</email>
    </author>
    <description>
      Tsunesihi underwater robot for ship hull cleaning
    </description>
  </model>
