<launch>

    <!-- visaulize the underwater urdf robot model-->
    <arg name="model" default="$(find underwater_sim)/urdf/underwater.urdf"/>
    <arg name="use_gui" default="false"/>

    <param name="robot_description" command="cat $(arg model)" />

    <!-- send fake joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="$(arg use_gui)"/> 
    </node>

    <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- Show in Rviz   -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find underwater_sim)/rviz/gazebo_broadcast.rviz"/>
    
    <!-- broadcast gazebo data -->
    <node name="gazebo_broadcast" pkg="underwater_sim" type="gazebo_broadcast.py"/>

</launch>
