<launch>

    <group ns="robot">
        <include file="$(find underwater_sim)/launch/robot.launch"/>
    </group> 
    
    <group ns="ship">
        <include file="$(find underwater_sim)/launch/ship.launch"/>
    </group> 
    
    <!-- Show in Rviz   -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find underwater_sim)/rviz/sea_surface.rviz"/>

</launch>
