<launch>
    
    <arg name="setting_file" default="example.yaml"/>
    <arg name="robot_model" default="$(find underwater_sim)/urdf/underwater.urdf"/>
    <arg name="tank_model" default="$(find underwater_sim)/urdf/tank.urdf"/>

    <!-- load initial pose of robot and shift to params -->
    <rosparam command="load" file="$(find underwater_sim)/setting/$(arg setting_file)"/>
    
    <include file="$(find underwater_sim)/launch/sensor_broadcast.launch">
        <arg name="rviz" value="false"/>
    </include>
    
    <group ns="tank">
        <include file="$(find underwater_sim)/launch/tank_rviz.launch">
            <arg name="model" value="$(arg tank_model)"/>
        </include>
    </group> 
    
    <!-- Show in Rviz   -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find underwater_sim)/rviz/tank_test.rviz"/>

</launch>
